{% extends 'listings/base.html' %}
{% block title%}Id{% endblock %}

{% block content %}

<div class="box">

    <h2>{{ band.name }}</h2>

    <ul>
        <li>Genre : {{ band.get_genre_display }}</li>
        <li>Année de formation : {{ band.year_formed }}</li>
        <li>Actif : {{ band.active|yesno }}</li>
        {% if band.official_homepage%}
        <li><a href="{{ band.official_homepage }}" target="_blank">{{ band.official_homepage }}</a></li>
        {% endif%}
    </ul>

    <p>{{ band.biography }}</p>

    <a href="{% url 'band-update' band.id %}"><button type="button" class="btn btn-secondary">Modifier ce groupe</button></a>

    <a href="{% url 'band-list' %}"><button type="button" class="btn btn-primary">Retour à tous les groupes</button></a>
</div>
{% endblock %}