{% extends 'listings/base.html' %}
{% block title%}Contact{% endblock %}

{% block content %}

<div class="box">
    <p>Nous sommes là pour vous aider.</p>

    <form action="" method="post" >
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Envoyer">
    </form>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}