{% extends 'listings/base.html' %}
{% block title%}Listing{% endblock %}

{% block content %}

<div class="box">
    <h1>Liste</h1>
    <ul>
        {% for title in titles %}
        <li><a href="{% url 'listing-detail' title.id %}">{{ title.title }}</a>
            - <a href="{% url 'listing-update' title.id %}">[modifier]</a>
        </li>
        {% endfor %}
    </ul>


    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

    <br>

    <a href="{% url 'listing-create' %}"><button type="button" class="btn btn-primary">Ajouter un goodies</button></a>
</div>

{% endblock %}